<h1>Listing links</h1>

<table>
  <tr>
    <th>Url path</th>
    <th>Title</th>
    <th>Picture path</th>
    <th>Description</th>
    <th>Num clicks</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <div>
    <tr>
      <td><%= link.url_path %></td>
      <td><%= link.title %></td>
      <td><%= link.picture_path %></td>
      <td><%= link.description %></td>
      <td><%= link.num_clicks %></td>
      <td><%= link.category %></td>
      <td><%= link_to 'Show', link %></td>
      <td><%= link_to 'Edit', edit_link_path(link) %></td>
      <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New Link', new_link_path %>
